.main__card {
  padding-bottom: 40px;
}

.card {
  border: 1px solid black;
  border-radius: 15px;
  background-color: rgb(111, 162, 250);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
  margin: 30px;
  padding: 20px;
  position: relative;
}

.card__headline {
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 20px;
}

.card__bookmark {
  font-size: 40px;
  position: absolute;
  right: 40px;
  top: -10px;
  border: 0px;
  background-color: transparent;
  color: aliceblue;
  cursor: pointer;
  z-index: 1;
}

.card__bookmark--selected {
  color: rgb(0, 79, 216);
}

.card__question {
  font-size: 1.3rem;
  text-align: center;
  margin: 5px;
}

.card__answer {
  text-align: center;
  margin: 5px 40px;
  font-size: 1.3rem;
  border: 2px dashed blue;
}

.hidden-answer {
  visibility: hidden;
  position: absolute;
}

.card__button {
  display: block;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgb(0, 79, 216);
  font-size: 1.2rem;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

.card__tags {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
}

.card__tags--item {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(0, 79, 216);
}
