.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  background-color: cadetblue;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.footer__icons {
  font-size: 50px;
  color: black;
}
