.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  gap: 1px;
  width: 100%;
  height: 48px;
  overflow: hidden;
  background-color: grey;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  z-index: 2;
}

.footer__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 100%;
  background: rgb(0, 79, 216);
  color: aliceblue;
  border: 0;
  cursor: pointer;
}
