.header {
  box-sizing: border-box;
  text-align: center;
  padding: 30px;
  background-color: teal;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header__headline {
  font-size: 4rem;
  color: rgb(222, 66, 38);
}
