.profile__main {
  margin: 60px 40px;
}

.profile-pic__head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  color: black;
}

.profile-pic {
  width: 150px;
  border-radius: 50%;
}

.profile__name {
  color: black;
}

.profile--text {
  margin: 40px 0px;
  color: black;
  line-height: 1.5;
}

.profile__tags--list {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

.profile__tags-item {
  border: 1px solid teal;
  color: black;
  border-radius: 15px;
  padding: 5px;
  text-decoration: none;
}

.profile--logout {
  display: block;
  margin: 60px auto;
  padding: 10px;
  width: 100px;
  font-size: 1rem;
  background-color: orangered;
  color: white;
}
